html {
	font-family: Roboto, Liberation, Arial, Helvetica, sans-serif;
	background: black;
	color: #bebebe;
}

@media only screen and (min-width: 0) {
	html {
		font-size: 14px;
	}
}

@media only screen and (min-width: 992px) {
	html {
		font-size: 24px;
	}
}

@media only screen and (min-width: 1200px) {
	html {
		font-size: 28px;
	}
}

body {
	margin: 1rem;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: calc(100% - 2rem);
	margin-left: 1rem;
	margin-bottom: 1rem;
}

button {
	color: #bebebe;
	text-decoration: none;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	
	background: black;
	border: 1px solid #bebebe;
	padding: 10px 25px;
}

.network_mode {
	font-size: 2rem;
	font-weight: bold;
	font-style: italic;
	color: #0099cc;
	vertical-align: middle;
}

.signal_name {
	font-size: 1.25rem;
	color: #0099cc;
	vertical-align: middle;
}

.signal_value {
	font-size: 2rem;
	font-weight: bold;
	color: #33b5e5;
	vertical-align: middle;
}

.signal_table_name {
	font-family: "Roboto Mono", "Liberation Mono", "Courier New", Courier, monospace;
	font-size: 1.5rem;
	color: #0099cc;
}

.signal_table_value {
	font-family: "Roboto Mono", "Liberation Mono", "Courier New", Courier, monospace;
	font-weight: bold;
	font-size: 2.75rem;
	color: #33b5e5;
}

#home_button {
	margin-right: 1rem;
}
