<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <settings>
    <ipaddress>192.168.8.1</ipaddress>
    <username>admin</username>
    <password>AlphA_00</password>
  </settings>
  <apilist>
    <api>
      <apiurl>/api/cradle/basic-info</apiurl>
      <postable>1</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/api/cradle/status-info</apiurl>
      <postable>1</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/api/ddns/ddns-list</apiurl>
      <postable>1</postable>
      <legend><![CDATA[
url: http://192.168.8.1/api/ddns/ddns-list 
Method: POST 
request:
Code:
<request> 
    <ddnss> 
        <ddns> 
            <index></index> 
            <provider></provider> 
            <status></status> 
            <domainname></domainname> 
            <username></username> 
            <password></password> 
        </ddns> 
        <ddns> 
            ... 
        </ddns> 
        ... 
    </ddnss> 
</request>

answer:
Code:
<Response>OK</response>

Notes: No]]></legend>
    </api>
    <api>
      <apiurl>/api/device/autorun-version</apiurl>
      <postable>1</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/api/device/control</apiurl>
      <postable>1</postable>
      <legend><![CDATA[
Method: POST 
request:
Code:
<request> 
  <control></control> 
</request>

answer:
Code:
<Response> OK </ response>

Remarks:
Control: 
1 - restart of the device 
2 - reset the configuration (no information on how to enter a saved configuration file. You may use the file http://192.168.8.1/nvram.bak ) 
3 - backup configuration (configuration is available at http://192.168.8.1/nvram.bak . This is a base64-encoded) 
4 - shutdown
      ]]></legend>
    </api>
    <api>
      <apiurl>/api/device/fastbootswitch</apiurl>
      <postable>1</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/api/device/information</apiurl>
      <postable>0</postable>
      <legend><![CDATA[
      Device information
      
      
      For example:
    <response> 
    <DeviceName>E3372</DeviceName> 
    <SerialNumber>L8FBY14926014416</SerialNumber> 
    <Imei>866133021233764</Imei> 
    <Imsi>260060064970338</Imsi> 
    <Iccid>89480610500149703380</Iccid> 
    <Msisdn></Msisdn> 
    <HardwareVersion>CL1E3372SM Ver.A</HardwareVersion> 
    <SoftwareVersion>22.286.53.01.161</SoftwareVersion> 
    <WebUIVersion>16.100.05.00.03</WebUIVersion> 
    <MacAddress1>00:0D:87:8E:4B:AC</MacAddress1> 
    <MacAddress2></MacAddress2> 
    <ProductFamily>LTE</ProductFamily> 
    <Classify>hilink</Classify> 
    <supportmode>LTE|WCDMA|GSM</supportmode> 
    <workmode>LTE</workmode> 
</response>
      ]]></legend>
    </api>
    <api>
      <apiurl>/api/device/mode</apiurl>
      <postable>1</postable>
      <legend><![CDATA[
Switching the modem in debug mode / NDIS
url: http://192.168.8.1/api/device/mode
Method: POST
request:
CODE: SELECT ALL
<request> 
   <mode>1</mode> 
</request>
answer:
CODE: SELECT ALL
<response>OK</response>
Notes: With the modem plugged into the router's Internet connection disappears when the debug mode is enabled.
mode:
0 - project mode (normal operation?)
1 - debug mode / NDIS (access to serial ports)
4 - enable telnet?
      ]]></legend>
    </api>
    <api>
      <apiurl>/api/device/powersaveswitch</apiurl>
      <postable>1</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/api/dhcp/settings</apiurl>
      <postable>1</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/api/device/compresslogfile</apiurl>
      <postable>0</postable>
      <legend><![CDATA[
      Gives you link for log files.
      
<response> 
<LogPath>http://192.168.8.1/FS:/app/webroot/data/userdata/device/WebApp.zip</LogPath> 
</response>
      ]]></legend>
    </api>
    <api>
      <apiurl>/api/dialup/auto-apn</apiurl>
      <postable>1</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/api/dialup/connection</apiurl>
      <postable>1</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/api/dialup/dial</apiurl>
      <postable>1</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/api/dialup/mobile-dataswitch</apiurl>
      <postable>1</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/api/dialup/profiles</apiurl>
      <postable>1</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/api/filemanager/upload</apiurl>
      <postable>1</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/api/global/module-switch</apiurl>
      <postable>1</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/api/host/info</apiurl>
      <postable>1</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/api/language/current-language</apiurl>
      <postable>1</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/api/monitoring/check-notifications</apiurl>
      <postable>1</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/api/monitoring/clear-traffic</apiurl>
      <postable>1</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/api/monitoring/converged-status</apiurl>
      <postable>1</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/api/monitoring/month_statistics</apiurl>
      <postable>1</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/api/monitoring/month_statistics_wlan</apiurl>
      <postable>1</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/api/monitoring/start_date</apiurl>
      <postable>1</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/api/monitoring/start_date_wlan</apiurl>
      <postable>1</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/api/monitoring/status</apiurl>
      <postable>1</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/api/monitoring/traffic-statistics</apiurl>
      <postable>1</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/api/net/current-plmn</apiurl>
      <postable>1</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/api/net/net-mode</apiurl>
      <postable>1</postable>
      <legend><![CDATA[
      url: http://192.168.8.1/api/net/net-mode 
Method: POST 
request:
Code:
<request> 
    <NetworkMode>00</NetworkMode> 
    <NetworkBand>3FFFFFFF</NetworkBand> 
    <LTEBand>800C5</LTEBand> 
</request>

answer: 
Code:
<Response>OK</response>

Remarks:
NetworkMode: 
00 - automatically (all networks) 
01 - only 2G 
02 - only 3G 
03 - Only 4G (LTE) 
99 - no changes 
Network mode can be connected such as '0302' is equivalent to 'Preferred LTE -> 3G'

NetworkBand: 
80 - GSM1800 
300 - GSM900 
80000 - GSM850 
200000 - GSM1900 
400000 - UMTS B1 (2100) 
800000 - UMTS B2 (1900) 
4000000 - UMTS B5 (850) 
2000000000000 - UMTS B8 (900) 
1 - BC0A 
2 - BC0B 
4 - BC1 
8 - BC2 
10 - BC3 
20 - BC4 
40 - BC5 
400 - BC6 
800 - BC7 
1000 - BC8 
2000 - Bc9 
4000 - BC10 
8000 - BC11 
10000000 - BC12 
20000000 - BC13 
80000000 - BC14 
3FFFFFFF - all supported 
another is the sum of hexadecimal notation that network (eg. GSM900 + UMTS B8 = 0x2000000000000 + 0x300 = 0x2000000000300)

LTEBand: 
1 - B1 (FDD 2100) 
4 - B3 (FDD 1800) 
40 - B7 (FDD 2600) 
80 - B8 (FDD 900) 
80000 - B20 (FDD 800) 
2000000000 - B38 (TDD 2600) 
8000000000 - B40 (TDD 2300) 
800C5 - EU band (LTE Band 1, 3, 7, 8, 20) 
800D5 - band EU / Asia / Africa (LTE Band 1, 3, 5, 7, 8, 20) 
7FFFFFFFFFFFFFFF - all band 
another is the sum of hexadecimal notation that network
      ]]></legend>
    </api>
    <api>
      <apiurl>/api/net/net-mode-list</apiurl>
      <postable>0</postable>
      <legend><![CDATA[
List of network modes ( it seems to me that in terms of the frequencies that supports modem. As someone has a better name for it go ahead and write) 
url: http://192.168.8.1/api/net/net-mode-list 
Method: GET 
request: none 

Code:
<response> 
    <AccessList> 
        <Access>00</Access> 
        <Access>01</Access> 
        <Access>02</Access> 
        <Access>03</Access> 
    </AccessList> 
    <BandList> 
        <Band> 
            <Name>GSM900/GSM1800/WCDMA BCVIII / WCDMA BCI </ Name> 
            <Value> 2000000400380 </ Value> 
        </ Band> 
    </ BandList> 
    <LTEBandList> 
        <LTEBand> 
            <Name> BC1 LTE / LTE BC3 / BC7 LTE / LTE BC8 / BC20 LTE </ Name > 
            <Value> 800c5 </ Value> 
        </ LTEBand> 
        <LTEBand> 
            <Name> All Bands </ Name> 
            <Value> 7ffffffffffffff </ Value> 
        </ LTEBand> 
    </ LTEBandList> 
</ response>
      ]]></legend>
    </api>
    <api>
      <apiurl>/api/net/network</apiurl>
      <postable>1</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/api/net/plmn-list</apiurl>
      <postable>1</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/api/net/register</apiurl>
      <postable>1</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/api/online-update/ack-newversion</apiurl>
      <postable>1</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/api/online-update/cancel-downloading</apiurl>
      <postable>1</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/api/online-update/check-new-version</apiurl>
      <postable>1</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/api/online-update/status</apiurl>
      <postable>1</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/api/online-update/url-list</apiurl>
      <postable>1</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/api/ota/status</apiurl>
      <postable>1</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/api/pb/pb-match</apiurl>
      <postable>1</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/api/pin/operate</apiurl>
      <postable>1</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/api/pin/simlock</apiurl>
      <postable>1</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/api/pin/status</apiurl>
      <postable>1</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/api/redirection/homepage</apiurl>
      <postable>1</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/api/sdcard/sdcardsamba</apiurl>
      <postable>1</postable>
      <legend><![CDATA[
Enabling sharing (Samba) 
url: http://192.168.8.1/api/sdcard/sdcardsamba 
Method: POST 
request:
Code:
<Request> 
    <enabled>1</ enabled> 
</request>

answer:
Code:
<Response>OK</response>

Notes: No
      ]]></legend>
    </api>
    <api>
      <apiurl>/api/sdcard/createdir</apiurl>
      <postable>1</postable>
      <legend><![CDATA[
      Creating a directory on the SD card 
url: http://192.168.8.1/api/sdcard/createdir 
Method: POST 
request: <request> 
<CurrentPath></CurrentPath> 
<FileName></FileName> 
<Time> 
<Year></Year> 
<Month></Month> 
<Day></Day> 
<Hour></Hour> 
<Min></Min> 
<Sec></Sec> 
</Time> 
</request> 
answer:
Code:
<Response> OK </ response>

Remarks:
FileName can not contain certain characters, so they must be converted by the following formula: 
' & '-' & amp; ', 
' ' '-' ' '
      ]]></legend>
    </api>
    <api>
      <apiurl>/api/sdcard/deletefile</apiurl>
      <postable>1</postable>
      <legend><![CDATA[
Deleting a file / directory on the SD card 
url: http://192.168.8.1/api/sdcard/deletefile 
Method: POST 
request:
Code:
<Request> 
    <CurrentPath> </ CurrentPath> 
    <DeleteFileList> </ DeleteFileList> 
</ request>

answer:
Code:
<Response> OK </ response>

Remarks:
FileName can not contain certain characters, so they must be converted by the following formula: 
' & '-' & amp; ', 
' ' '-' ' '
      ]]></legend>
    </api>
    <api>
      <apiurl>/api/sdcard/dlna-setting</apiurl>
      <postable>1</postable>
      <legend><![CDATA[
DLNA settings 
url: http://192.168.8.1/api/sdcard/dlna-setting 
Method: POST 
request:
Code:
<Request> 
    <enabled> </ enabled> 
    <shareallpath> </ shareallpath> 
    <sharepath> </ sharepath> 
</ request>

answer:
Code:
<Response> OK </ response>
      ]]></legend>
    </api>
    <api>
      <apiurl>/api/sdcard/sdcapacity</apiurl>
      <postable>0</postable>
      <legend><![CDATA[
Download information on SD card capacity 
url: http://192.168.8.1/api/sdcard/sdcapacity 
Method: GET 
request: none 
answer:
Code:
<Response> 
    <sdcapacity> 
        <availableSize> </ availableSize> 
        <TotalSize> </ TotalSize> 
    </ sdcapacity> 
</ response>

Notes: No
      ]]></legend>
    </api>
    <api>
      <apiurl>/api/sdcard/sdcard</apiurl>
      <postable>1</postable>
      <legend><![CDATA[
Set sharing to the SD card information 
url: http://192.168.8.1/api/sdcard/sdcard 
Method: POST
answer:
Code:
<response> 
    <sdcard> 
        <SDShareMode>0</SDShareMode> 
        <SDCardShareStatus>0</SDCardShareStatus> 
        <SDShareFileMode>0</SDShareFileMode> 
        <SDAccessType>0</SDAccessType> 
        <SDSharePath></SDSharePath> 
        <SDCardStatus>0</SDCardStatus> 
    </sdcard> 
</response>

Remarks:
SDCardStatus: 
0 - no SD card or it is disabled 
2 - SD card is not formatted

SDCardShareStatus: 
0 - lack of access to 
1 - sharing enabled

SDShareMode: 
0 - shared networking (global?) 
1 - USB sharing (local?)

SDSharePath:
/ - root fo SD card
../.. - Get root of router?? :)
      ]]></legend>
    </api>
    <api>
      <apiurl>/api/sdcard/share-account</apiurl>
      <postable>1</postable>
      <legend><![CDATA[
Setting the samba server user list 
url: http://192.168.8.1/api/sdcard/share-account 
Method: POST 
request:
Code:
<request> 
    <accounts> 
        <account> 
            <accountname></accountname> 
            <accountpwd></accountpwd> 
            <sharepath></sharepath> 
            <accesstype></accesstype> 
            <shareallpath></shareallpath> 
        </account> 
        <account> 
            ... 
        </account> 
        ... 
    </accounts> 
</request>

answer:
Code:
<Response>OK</response>

Remarks:
sharepath and shareallpath replace the following formula: 
' % 26 '-' & amp; ' 
' % 27 '-' ' ' 
' % 20 '-' ' 
' % 23 '-' # ' 
' % 25 '-' % ' 
' % 3B '-' ; ' 
' ' '-' ' ' 
' & '-' & amp; '
      ]]></legend>
    </api>
    <api>
      <apiurl>/api/security/dmz</apiurl>
      <postable>1</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/api/security/firewall-switch</apiurl>
      <postable>1</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/api/security/lan-ip-filter</apiurl>
      <postable>1</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/api/security/nat</apiurl>
      <postable>1</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/api/security/sip</apiurl>
      <postable>1</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/api/security/special-applications</apiurl>
      <postable>1</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/api/security/upnp</apiurl>
      <postable>1</postable>
      <legend><![CDATA[
url: http://192.168.8.1/api/security/upnp 
Method: POST 
request:
Code:
<Request> 
    <UpnpStatus>1</UpnpStatus> 
</request>

answer:
Code:
<Response>OK</response>

Notes: No
      ]]></legend>
    </api>
    <api>
      <apiurl>/api/security/virtual-servers</apiurl>
      <postable>1</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/api/sms/backup-sim</apiurl>
      <postable>1</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/api/sms/cancel-send</apiurl>
      <postable>1</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/api/sms/cofig</apiurl>
      <postable>1</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/api/sms/config</apiurl>
      <postable>1</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/api/sms/delete-sms</apiurl>
      <postable>1</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/api/sms/save-sms</apiurl>
      <postable>1</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/api/sms/send-sms</apiurl>
      <postable>1</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/api/sms/send-status</apiurl>
      <postable>1</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/api/sms/set-read</apiurl>
      <postable>1</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/api/sms/sms-count</apiurl>
      <postable>1</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/api/sms/sms-list</apiurl>
      <postable>1</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/api/sntp/sntpswitch</apiurl>
      <postable>1</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/api/user/login</apiurl>
      <postable>1</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/api/user/logout</apiurl>
      <postable>1</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/api/user/password</apiurl>
      <postable>1</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/api/user/remind</apiurl>
      <postable>1</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/api/user/session</apiurl>
      <postable>1</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/api/user/state-login</apiurl>
      <postable>1</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/api/ussd/get</apiurl>
      <postable>1</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/api/wlan/basic-settings</apiurl>
      <postable>1</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/api/wlan/handover-setting</apiurl>
      <postable>1</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/api/wlan/host-list</apiurl>
      <postable>1</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/api/wlan/mac-filter</apiurl>
      <postable>1</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/api/wlan/multi-basic-settings</apiurl>
      <postable>1</postable>
      <legend><![CDATA[
   Changing different 802.11 settings for E5786/E5186 (and possibly all other Huawei Hilink devices, which support WIFI)
   url: http://192.168.8.1/api/wlan/multi-basic-settings
   Method: POST
   request:
   Code:
   <request>
     <Ssids>
       <Ssid>
         <Index>0</Index>
         <WifiEnable>1</WifiEnable>
         <WifiSsid>MySSID</WifiSsid>
         <WifiMac></WifiMac>
         <WifiBroadcast>0</WifiBroadcast>
         <WifiIsolate>0</WifiIsolate>
         <WifiAuthmode>WPA2-PSK</WifiAuthmode>
         <WifiBasicencryptionmodes>WEP</WifiBasicencryptionmodes>
         <WifiWpaencryptionmodes>AES</WifiWpaencryptionmodes>
         <WifiWepKey1></WifiWepKey1>
         <WifiWepKey2></WifiWepKey2>
         <WifiWepKey3></WifiWepKey3>
         <WifiWepKey4></WifiWepKey4>
         <WifiWep128Key1></WifiWep128Key1>
         <WifiWep128Key2></WifiWep128Key2>
         <WifiWep128Key3></WifiWep128Key3>
         <WifiWep128Key4></WifiWep128Key4>
         <WifiWepKeyIndex>1</WifiWepKeyIndex>
         <WifiWpapsk>mysecurepassword</WifiWpapsk>
         <MixWifiWpapsk>mysecurepassword</MixWifiWpapsk>
         <WifiWpsenbl>1</WifiWpsenbl>
         <WifiWpscfg>0</WifiWpscfg>
         <WifiRotationInterval>60</WifiRotationInterval>
         <WifiAssociatedStationNum>1</WifiAssociatedStationNum>
         <wifitotalswitch>1</wifitotalswitch>
       </Ssid>
     </Ssids>
   <WifiRestart>0</WifiRestart>
   </request>
 
   Remarks:
   WifiEnable:
       Values:
           -) 0 - Enable WIFI
           -) 1 - Disable WIFI
 
   WifiSsid: Sets the devices WIFI SSID
       Values:
           -) a-zA-Z0-1
 
   WifiAuthmode:
       Values:
           -) WEP (plz do not use it!)
           -) WPA-PSK
           -) WPA2-PSK
 
   WifiWpaencryptionmodes:
       Values:
           -) TKIP
           -) AES (Use this if you wan't full speed @WIFI)
 
   WifiWpapsk: Defines the pre-shared key to get access to your wifi
       Values:
           -) a-zA-Z0-9
 
   WifiWpsenbl:
       Value:
           -) 0 - Disable WPS
           -) 1 - Enable WPS
 
   wifirestart: Should be always set to 1, so that the device reboots automatically after sending the request to apply all the settings.
       Value:
           -) 0 - Do not reboot device (Settings are NOT applied!)
           -) 1 - Reboot Deviceto apply settings
 
   answer:
   Code:
   <Response>OK</response>
     ]]></legend>
    </api>
    <api>
      <apiurl>/api/wlan/multi-security-settings</apiurl>
      <postable>1</postable>
      <legend><![CDATA[
   Changing different 802.11 settings for E5786/E5186 (and possibly all other Huawei Hilink devices, which support WIFI)
   url: http://192.168.8.1/api/wlan/multi-security-settings
   Method: POST
   request:
   Code:
   <request>
     <WifiIsolationBetween>0</WifiIsolationBetween>
     <WifiChannel>0</WifiChannel>
     <WifiCountry>AT</WifiCountry>
     <WifiRate>0</WifiRate>
     <WifiMode>a/n/ac</WifiMode>
     <WifiMaxAssoc>10</WifiMaxAssoc>
     <Wifioffenable>1</Wifioffenable>
     <Wifiofftime>1200</Wifiofftime>
     <wifibandwidth>80</wifibandwidth>
     <wifiantennanum>2</wifiantennanum>
     <wifiautocountryswitch>1</wifiautocountryswitch>
     <wificountrysupport5g>1</wificountrysupport5g>
     <WifiRestart>1</WifiRestart>
   </request>
 
   Remarks:
   Wifi Channel Values: Select your desired WIFI Channel
                 Value:0 (Default Channel)
                 Values 1 - 14: For 2.4GHZ WIFI
                 Values 7 - 196: For 4GHZ WIFI
   Wifi Mode:
       Values:
             -) a
             -) a/n
             -) a/n/ac
 
   WifiMaxAssoc: Defines how many devices are able to connect to the WIFI
 
   WifiOffenable: Defines if the WIFI is turned of, after a certain time
       Values:
             -) 1 - Wifi is turned off after a certain time
             -) 0 - Wifi is NOT turned off after a certain time
 
   Wifiofftime: Sets the treshold after which amount of time, the wifi is turned off automatically.
                If this value is set, the option "WifiOffenable" has also be set to 1!
       Values:
             -) Time in Seconds after the WIFI should be turned off, in case of inactivity.
 
   Wifibandwidth: Sets the wifibandwidth
       Values:
             -) 20 - 20MHZ Bandwitdth allows up to 150MBit/s second with WIFI Mode set to N
             -) 40 - 40MHZ Bandwitdth allows up to 300MBit/s second with WIFI Mode set to N
             -) 80 - 80MHZ Bandwitdth allows up to 876MBit/s second with WIFI Mode set to a/n/ac
 
   wificountrysupport5g: Should be always set to 1, otherwise 5GHZ WIFI wont work, and only 2.4GHZ is enabled.
 
   wifirestart: Should be always set to 1, so that the device reboots automatically after sending the request to apply all the settings.
   answer:
   Code:
   <Response>OK</response>
     ]]></legend>
    </api>
    <api>
      <apiurl>/api/wlan/multi-switch-settings</apiurl>
      <postable>1</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/api/wlan/oled-showpassword</apiurl>
      <postable>1</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/api/wlan/security-settings</apiurl>
      <postable>1</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/api/wlan/station-information</apiurl>
      <postable>1</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/api/wlan/wifi-dataswitch</apiurl>
      <postable>1</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/config/deviceinformation/config.xml</apiurl>
      <postable>0</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/config/dialup/config.xml</apiurl>
      <postable>0</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/config/dialup/connectmode.xml</apiurl>
      <postable>0</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/config/firewall/config.xml</apiurl>
      <postable>0</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/config/global/config.xml</apiurl>
      <postable>0</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/config/global/languagelist.xml</apiurl>
      <postable>0</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/config/global/net-type.xml</apiurl>
      <postable>0</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/config/network/net-mode.xml</apiurl>
      <postable>0</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/config/network/networkband_</apiurl>
      <postable>0</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/config/network/networkmode.xml</apiurl>
      <postable>0</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/config/pcassistant/config.xml</apiurl>
      <postable>0</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/config/pincode/config.xml</apiurl>
      <postable>0</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/config/sms/config.xml</apiurl>
      <postable>0</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/config/update/config.xml</apiurl>
      <postable>0</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/config/wifi/configure.xml</apiurl>
      <postable>0</postable>
      <legend>nothing here</legend>
    </api>
    <api>
      <apiurl>/config/wifi/countryChannel.xml</apiurl>
      <postable>0</postable>
      <legend>nothing here</legend>
    </api>
  </apilist>
</configuration>